<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kursevi</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-phone wow bounceIn text-primary"></i>
                    <h3>Zaštita komunikacija</h3>
                    <p class="text-muted">Naučite kako da zaštitite svoje komunikacije.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Zaštita podataka</h3>
                    <p class="text-muted">Naučite kako da zaštitite svoje podatke.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bug wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Zaštita od zlonamernog softvera</h3>
                    <p class="text-muted">Saznajte zbog čega su antivirusni programi neefektivni.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-secret wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Zaštita od online pretnji</h3>
                    <p class="text-muted">Saznajte na koje sve načine možete postati žrtva.</p>
                </div>
        </div>
    </div>
     <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading">i još mnogo toga1.</h3>
        </div>
</section>
